{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-md-100 background-image">
    <div class="row mt-md-5 flex-md-row-reverse px-5 px-md-0">
        <div class="col-12 col-md-6 home-gold-border home-text-container pt-3 pt-md-5">
            <h1 class="logo-font pt-md-5 pl-2 px-md-5">
                Style 
                <br>
                Your
                <br> 
                Space
            </h1>
            <h2 class="px-2 px-md-5 pt-2 pt-md-5 tagline">Browse our range of luxurious homeware products or book an interior design consultation today</h2>
            <div class="px-2 px-md-5 pt-3 pt-md-5 pb-4">
                    <a href="{% url 'products' %}" class="btn gold-button d-block d-lg-inline">Shop Now</a>
                    <a href="{% url 'services' %}" class="btn gold-button d-block d-lg-inline mt-3 mt-md-3 mt-lg-0 ml-lg-2">Design Services</a>
            </div>
        </div>
        <div class="col-12 col-md-6 home-image-container d-none d-md-flex">
        </div>
    </div>
</div>
<div class="container mt-5 bg-light text-center py-5">
    <h3>Fresh Nest is the answer to all your Designer Homeware and Home Décor needs.</h3>
    <p>We stock a wide range of high-end furniture which will make your home unique to you.</p>
    <p>We provide end-to-end bespoke interior design services in the Dublin and greater Dublin area. We also offer individual room design services such as kitchen, bedroom or living room interior design.</p>
    <p>Sign up to our newsletter today</p>
</div>

{% endblock %}
