html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;

}




.bag-badge {
position: absolute;
transform: translateY(-50%);
}


/* Nav */

.navbar ul a {
    text-transform: uppercase;
}


/* Product Cards */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    min-height: 250px;
}


/* Product Detail */

.product-detail-image {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    min-height: 400px
}


.product-description {
    background-color: #F5F6F4;
    height: 15vw;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */

    .header-container {
        padding-top: 164px;
    }
}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}