@import "../node_modules/bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;
    color: #4D4E54;

}

.text-jet {
    color: #4D4E54 !important;
}

.text-gold {
    color: #A99166!important;
}

.bag-badge {
position: absolute;
transform: translateY(-50%);
}

.gold-button {
    background: #A99166;
    color: black;
    font-weight: 300!important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.gold-button:hover {
    color: white;
}

.border-gold {
    border: 1px solid #A99166 !important;
}

/* Nav */

.navbar ul a {
    text-transform: uppercase;
    color: #4D4E54;
    font-size: 14px;
    font-weight: 400 !important;
}

/* .navbar ul a {
    color: #442E10;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
} */


/* Service Cards */

.alt-colour {
    background: white;
}
.alt-colour:nth-child(odd) {
    background: #f6f6f6;
}

.service-img {
    height: 300px;
    object-fit: cover;
    width: 300px;
    border-radius: 50%;
}

/* home page */

.home-gold-border {
    border: 2px solid #A99166;

}

.logo-font {
    font-size: 4rem;
    line-height: 100px;
}

.tagline {
    font-size: 1.5rem;
    font-weight: 400;
}

.home-image-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url('/media/pexels-houzlook-com-3356416.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
    border-top: 2px solid #A99166;
    border-bottom: 2px solid #A99166;
    border-left: 2px solid #A99166;
}

/* Product Cards */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    min-height: 250px;
}

.product-card:hover {
    /* box-shadow: 0px 0px 4px #A99166 !important; */
}

.like-btn, .x-btn {
    z-index: 5000;
    position: relative;
    top: 40px;
    right: 15px;
    text-align: right;
}

.like-btn a {
    color: white;
}

.x-btn a {
    color: white;
}




.edit-delete-btns {
    z-index: 5000;
    color: #A99166 !important;
}

.edit-delete-btns a {
    color: #A99166;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

/* Product Detail */

.product-detail-image {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    min-height: 400px
}

.gold-break {
    border-top: 0.2px solid #A99166 !important;
}

.product-description {
    background-color: #F5F6F4;
    height: 15vw;
}


.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}


/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}




/* bag */

/* disable arrow buttons on number input Credit W3 Schools  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bag-image {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    min-height: 150px;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Project Gallery */

.pic-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;

}

#appear {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#hover:hover + #appear {
    opacity: 1.0;
}

/* Testimonials */

.testimonial-bg {
    background-color: #F6f6f6;
}

.card-columns {
    column-gap: 2rem;
}


.card-columns {
    column-count: 2;
}

.quote {
    left: 50%;
    position: absolute;
    top: -20px;
    margin-left: -16px;
    border-radius: 50%;
    padding: 10px;
    color: #A99166!important;
}

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
    .container-wide {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 115px;
    }
}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 70px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .logo-font {
        font-size: 3rem;
        line-height: 75px;
    }
    
    .tagline {
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.gold-button {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .btn.btn-outline-dark.border-gold.rounded-0 {
        padding: .350rem .350rem;
        font-size: .75rem;
    }

    .product-card {
        width: 80%;
    }

    .service-img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }

    .increase-qty, .decrease-qty {
        padding: .25rem .5rem !important;
    }
}

/* Small devices (landscape phones, less than 768px */

@media screen and (max-width: 767.98px) {
    .service-img {
        height: 300px;
        width: 100%;
        border-radius: 0;
    }

    .card-columns {
        column-count: 1;
    }

    .bag-image {
        height: 100%;
        max-height: 250px;
    }

}





