html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;

}




.bag-badge {
position: absolute;
transform: translateY(-50%);
}


/* Nav */

.navbar ul a {
    text-transform: uppercase;
}


/* Product Cards */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    min-height: 250px;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */

    .header-container {
        padding-top: 164px;
    }
}