{% load static %}
<footer class="container-fluid mt-auto">
    <div class="row">
        <!-- Footer navigation -->
        <div class="col-12 col-md-4 px-4 px-md-0 py-4">
            <ul class="nav flex-column divider px-4">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link text-uppercase">Home Décor</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'services' %}" class="nav-link text-uppercase">Interior Design Services</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase">Client Testimonials</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase">Sitemap</a>
                </li>
            </ul>
        </div>
        <!-- External Bodies Links -->
        <div class="col-12 col-md-4 p-4 text-center">
            <a href="https://www.houzz.ie/" target="_blank">
                <img src="{{ MEDIA_URL }}houzz_logo.jpeg" alt="Houzz Logo" rel="sponsored" class="m-1 sponsor-logo">
            </a>
            <a href="https://www.idi-design.ie/" target="_blank">
                <img src="{{ MEDIA_URL }}institute_designers_ireland_logo.jpeg" alt="Institute of Designers Ireland Logo" rel="sponsored" class="m-1 sponsor-logo">
            </a>
            <a href="https://www.theinteriorsassociation.ie/" target="_blank">
                <img src="{{ MEDIA_URL }}interiors_association_logo.jpeg" alt="Interiors Association Logo" rel="sponsored" class="m-1 sponsor-logo">
            </a>
        </div>
        <!-- Keep in touch section -->
        <div class="col-12 col-md-4 p-4 order-first">
            <div>
                <h3 class="mb-4">Stay in touch!</h3>
                <ul class="list-unstyled list-inline social-networks">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.pinterest.com/" target="blank" rel="noopener"
                            aria-label="Visit out Pinterest page (opens in new tab)"><i class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
            <div>
                <span class="small">Keep up to date with you newsletter:</span>
                <!-- Subscribe modal button-->

            </div>
            <p class="small">Copyright &copy; {% now "Y" %} Fresh Nest<br>
        </div>
    </div>
</footer>