<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto pl-1">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-3" href="#" id="home-decor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home Décor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-decor-link">
                <a href="{% url 'products' %}" class="dropdown-item">All</a>
                <a href="{% url 'products' %}?category=sofas" class="dropdown-item ">Sofas</a>
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=tables" class="dropdown-item">Tables</a>
                <a href="{% url 'products' %}?category=lighting" class="dropdown-item">Lighting</a>
                <a href="{% url 'products' %}?category=textiles" class="dropdown-item">Textiles</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'services' %}">
                Interior Design Services
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'project_gallery' %}">
                Interior Design Projects
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'testimonials' %}">
                Testimonials
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'contact' %}">
                Contact
            </a>
        </li>
    </ul>

</div>