<ul class="my-auto mr-2 pt-1 d-block d-lg-none">
    <li class="list-inline-item align-middle">
        <a class="text-gold nav-link px-1" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" aria-label="Search">
            <div class="text-center nav-icons">
                <div><i class="fas fa-search fa-lg"></i></div>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form class="form" method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border-gold rounded-0" type="text" name="q"
                        placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control form-control btn btn-outline-dark border-gold rounded-0"
                            type="submit" aria-label="Search Button">
                            <span class="icon">
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li class="list-inline-item dropdown nav-icons">
        <a class="text-gold nav-link px-1 d-block d-lg-none" href="#" id="mobile-user-options" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <div><i class="far fa-user fa-lg"></i></div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-options-menu">
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <a href="{% url 'add_product' %}" class="dropdown-item">Home Decor Management</a>
            <a href="{% url 'add_service' %}" class="dropdown-item">Design Service Management</a>
            <a href="{% url 'add_project_image' %}" class="dropdown-item">Previous Project
                Management</a>
            <a href="{% url 'enquiries' %}" class="dropdown-item">Enquiries</a>
            {% endif %}
            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Signup</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
    <!-- <li class="list-inline-item">
        <a class="nav-link px-1 d-block d-lg-none" href="#" aria-label="My Saved Items">
            <div class="text-center">
                <div><i class="far fa-heart fa-lg"></i></div>
            </div>
        </a>
    </li> -->
    <li class="list-inline-item nav-icons">
        <a class="text-gold nav-link px-1 d-block d-lg-none" href="{% url 'view_bag' %}" aria-label="View Bag">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i>
                    {% if product_count %}
                    <span class='bag-badge'>{{ product_count }}</span>
                    {% endif %}
                </div>
            </div>
        </a>
    </li>
</ul>