{% extends 'base.html'%}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center">
            <h1>403 error</h1>
            <hr>
            <h3 class="mt-3">Page Forbidden</h3>
            <br>
            <p>Looks like you're trying to access forbidden content. Please log out and sign in to the correct account.</p>
            <a href="{% url 'account_logout' %}" class="btn btn-outline-dark border-gold rounded-0 m-2">Log out</a>
            <a href="{% url 'home' %}" class="btn btn-outline-dark border-gold rounded-0 m-2">Home</a>
        </div>
    </div>
</div>
{% endblock %}