{% extends "base.html" %}
{% load static %}

{% block extra_title %}Fresh Nest | Products{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container container-wide">
    <div class="row">
        <div class="col-12">
            {% if current_categories %}
            {% for c in current_categories %}
            <h1 class="text-center pt-4">{{ c.friendly_name }}</h1>
            {% endfor %}
            {% else %}
            <h1 class="text-center pt-4">All Home Décor</h1>
            {% endif %}
        </div>
        {% if user.is_superuser %}
        <div class="col-12">
            <div class="pt-3 text-center">
                <a href="{% url 'add_product' %}" class="btn btn-sm gold-button py-2" aria-label="add-new-product">
                    Add New Product
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    <br>
    <!-- sort box -->
    <div class="row mb-2">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border-gold">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                        (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                        (A-Z)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="mt-3 text-center text-md-left">
                {{ products|length }} Products{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <!-- Product Cards -->
    <div class="row card-deck">
        {% for product in products  %}
        <div class="col-sm-6 col-md-4 px-1 d-flex align-items-stretch">
            <div class="card card-detail product-card border-0 mb-3 mx-auto mx-sm-2">
                <!-- <span class="like-btn">
                    <a href="{% url 'home' %}"><i class="far fa-heart fa-lg"></i></a>
                </span> -->
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="placeholder image">
                {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="card-img-top">
                {% endif %}

                <div class="row card-body py-2">
                    <div class="col pl-0 card-text">
                        <strong>{{ product.name }}</strong>
                    </div>
                    <div class="col text-right pr-0">€{{ product.price }}</div>
                    <a href="{% url 'product_detail' product.id %}" class="stretched-link"
                        aria-label="product-detail"></a>
                </div>
                <div class="row card-body py-0 mb-4">
                    <small class="col pl-0 card-text">
                        {{ product.excerpt }}
                    </small>
                    {% if request.user.is_superuser %}
                    <small class="col text-right pr-0 edit-delete-btns">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border-gold">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-jet mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}