{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1 class="page-title">Delete Image</h1>
    <hr>
    <br>
    <p class="text-center mt-3">Are you sure you want to delete this image?</p>
    <div class="row justify-content-center">
        <div class="col-11 col-md-6 col-lg-4 mt-3">
            <form class="text-center" method="POST">
                {%  csrf_token  %}
                <div>
                    <button class="btn btn-danger m-2" type="submit">Delete</button>
                    <a class="btn btn-outline-dark m-2"
                        href="{%  url 'project_gallery' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


{%endblock%}