{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center pt-4">Design Projects</h1>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card-columns">
            {% for project in previousproject_list  %}
            <div class="card">
                <div id="hover">
                    <img src="{{ project.image.url }}" class="card-img-top" alt="placeholder image">
                </div>
                <div class="card-body" id="stuff">
                    <strong>{{ project.service.type }}</strong>
                    {{ project.location }}
                </div>
                {% if user.is_superuser %}
                <span>
                    <a class="btn btn-info" href="{% url 'delete_project_image' project.id %}"
                        aria-label="delete-project-image">
                        <i class="fas fa-times"></i>
                    </a>
                </span>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}