{% extends "base.html" %}
{% load static %}

{% block extra_title %}Fresh Nest | Testimonials{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center pt-4">Testimonials</h1>
        </div>
        <div class="col-12">
            <div class="pt-3 text-center">
                <a href="{% url 'add_testimonial' %}" class="btn btn-sm gold-button py-2" aria-label="add-testimonial">
                    Add Testimonial
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card-columns">
            {% for testimonial in testimonial_list  %}
            <div class="card my-3 testimonial-bg border-0">
                <div class="text-center quote">
                    <i class="fas fa-quote-right"></i>
                </div>
                <div class="card-body">
                    <h4 class="text-center"><strong>{{ testimonial.service.type }}</strong></h4>
                    {{ testimonial.body }}
                </div>
                <div class="card-body">
                    <strong>{{ testimonial.name }}</strong>
                    <br>
                    {{ testimonial.created_on }}
                    {% if user.is_authenticated and testimonial.name == user.username %}
                    <span class="align-self-end">
                        <small class="edit-delete-btns ">
                            <a href="{% url 'edit_testimonial' testimonial.id %}">Edit</a> |
                            <a href="{% url 'delete_testimonial' testimonial.id %}">Delete</a>
                        </small>
                    </span>
                    {% endif %}
                </div>

            </div>


            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}